[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
"boto3" = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
webtest = "*"

[requires]
python_version = "3.7"
