[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
flask = "*"
flask-talisman = "*"
gunicorn = "*"
python3-saml = {editable = true, git = "https://github.com/hakbailey/python3-saml.git"}
pyyaml = "*"
requests = "*"
sentry-sdk = {extras = ["flask"],version = "*"}


[dev-packages]
coverage = "*"
moto = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
requests-mock = "*"

[requires]
python_version = "3.10"
