[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
boto3 = "<1.8"
botocore = "<1.11"
gunicorn = "*"
python3-saml = "*"
moto = "==1.3.4"
flask-sslify = "*"
sentry-sdk = {extras = ["flask"], version = "*"}

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
webtest = "*"
flask-webtest = "*"
requests-mock = "*"
moto = "*"

[requires]
python_version = "3.7"
